<div class="">
	<ul class="careworker-topic-list">
		<li class="careworker-question-head clearfix">
			<div class="row"> 
				<div class="col-xs-4 col-md-4">
					職稱 / 時薪 / 工作地點
				</div>
				<div class="col-xs-3 col-md-3">
					公司名稱
				</div>
				<div class="col-xs-1 col-md-1">
					views
				</div>
				<div class="col-xs-1 col-md-1">
					apply
				</div>
				<div class="col-xs-3 col-md-3">
					更新時間
				</div>
			</div>
		</li>
		<li class="careworker-question clearfix" ng-repeat="question in questions">
			<div class="row">
				<div class="col-xs-4 col-md-4">
                    <h4><a href="#!/questions/{{question._id}}">{{question.title}}</a></h4>
                </div>
				<div class="col-xs-3 col-md-3">
					<span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span>
                    <h4><a href="#!/path/to/company_or_worker_profile">{{question.author}}</a></h4>
                </div>
                <!--
				<div class="careworker-question-author pull-right">
					<span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span>
					<a href="#">{{question.author}}</a>
					<span class="badge badge-">0</span>
				</div>
				<div>
					<a href="#" ng-repeat="tag in question.Tags" class="label label-info careworker-tag">{{tag}}</a>
				</div>
                -->
				<div class="col-xs-1 col-md-1">
                    <h4>11</h4>
				</div>
				<div class="col-xs-1 col-md-1">
                    <h4>2</h4>
				</div>
				<div class="col-xs-3 col-md-3">
                    <h4>update-time</h4>
				</div>
			</div>
		</li>
		<ul>
</div>
