<div class="">
	<ul class="careworker-topic-list">
		<li class="careworker-question-head clearfix">
			<div class="row"> 
				<div class="col-xs-4 col-md-4">
					職稱 / 時薪 / 工作地點
				</div>
				<div class="col-xs-2 col-md-2">
					公司名稱
				</div>
				<div class="col-xs-2 col-md-2">
					views
				</div>
				<div class="col-xs-2 col-md-2">
					apply
				</div>
				<div class="col-xs-2 col-md-2">
					更新時間
				</div>
			</div>
		</li>
		<li class="careworker-question clearfix" ng-repeat="question in questions">
			<div class="careworker-question-details clearfix">
				<h3><a href="#!/questions/{{question._id}}">{{question.title}}</a></h3>
				<div class="careworker-question-author pull-right">
					<span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span>
					<a href="#">{{question.author}}</a>
					<span class="badge badge-">0</span>
				</div>
				<div>
					<a href="#" ng-repeat="tag in question.Tags" class="label label-info careworker-tag">{{tag}}</a>
				</div>

			</div>
		</li>
		<ul>
</div>
