<div class="row">
	<div class="careworker-question col-lg-6 col-lg-offset-3">
		<form role="form" name="myform" ng-submit="processForm()">


			<div class="form-group">
			<label for="username">姓名</label>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<input class="form-control" name="username" placeholder="真實姓名" type="text" ng-model="credentials.username" required autofocus />
				</div>
				<div class="col-xs-6 col-md-6">
					<input class="form-control" name="nickname" placeholder="暱稱" type="text" ng-model="credentials.nickname" required autofocus />
				</div>
				</div>
			</div>
			<div class="form-group" ng-class"{'has-error': errorComment}">
				<label for="email">電子郵件(登入帳號)</label>
				<input type="email" class="form-control" id="email" name="email" ng-model="credentials.email"
					placeholder="Email">
				<div class="alert alert-danger" ng-show="myform.email.$dirty && myform.email.$invalid">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Invalid email address
				</div>
				<div class="alert alert-danger" ng-show="errorComment">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					{{errorComment}}
				</div>
			</div>
			<div class="form-group">
				<label>密碼</label>
				<input type="password" name="password" class="form-control" ng-model="credentials.password" ng-minlength="6"
					required />
				<br>
				<div class="alert alert-danger"
					ng-show="(myform.password.$error.minlength || myform.password.$error.required) && (myform.password.$dirty || submitted)">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Password must be at least 6 characters.
				</div>
			</div>
			<div class="form-group">
				<label>確認密碼</label>
				<input type="password" name="confirmPassword" class="form-control" ng-model="credentials.confirmPassword"
					required pw-check match="credentials.password" />
				<br>
				<div class="alert alert-danger"
					ng-show="myform.password.$valid && (myform.confirmPassword.$error.matchError || myform.confirmPassword.$error.required) && (myform.confirmPassword.$dirty || submitted)">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Passwords should match.
				</div>
			</div>

			<div class="col-md-6">
				<h4>selection</h4>
				<pre>{{credentials|json}}</pre>
			</div>
			<div class="form-group">
				<button id="submit" type="submit" class="btn btn-primary pull-right"
					ng-disabled="myform.$invalid">Register</button>
			</div>
		</form>
	</div>
</div>
